@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
    --font-fancy: "Comfortaa", sans-serif;
    --color-primary: #FFEDFA;
    --color-secondary: #1e1e19;
    --color-accent: #D50B8B;
}
body {
    background-color: var(--color-primary);
    font-family: var(--font-fancy), serif;
    color: var(--color-secondary);
}
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}

.animate-float {
    animation: float 8s ease-in-out infinite;
}

.animation-delay-2000 {
    animation-delay: 2s;
}